.container {
  padding: 20px;

  .header {
    h2 {
      margin: 0;
    }

    .filter {
      margin-top: 20px;
    }

    .refresh {
      cursor: pointer;
      font-size: 18px;
      margin-right: 12px;
    }
  }

  .footer {
    .title {
      font-size: 18px;
      margin-right: 12px;
    }

    .amount {
      p {
        font-size: 16px;
        margin: 0;

        &:first-child {
          margin-bottom: 12px;
        }
      }

      .income {
        color: green;
      }

      .pay {
        color: red;
      }
    }
  }
}
